.vscode

# Frontend
# frontend
frontend/node_modules
frontend/dist
frontend/src/app
frontend/src/features
frontend/src/pages
frontend/src/shared


# Backend
backend/files
backend/etl
*.pyc
*.env
*license.dat