.vscode
*.DS_Store
*.lnk
# Frontend
# frontend
frontend/node_modules
frontend/dist
frontend/src/features/submissions
frontend/src/pages/submissions
# frontend/src/shared


# Backend
backend/files
backend/etl
*.pyc
*.env
*license.dat